<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burgerlicious Devour Menu</title>
</head>

<body>
	<img src="#" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
	</footer>
</body>
</html>
